{% extends 'base.html' %}
{% block title %}
    Création de compte
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Créez votre compte</h1>
    <br></br>
    <form method="POST" class="form-register">
      {{ form.hidden_tag() }}
      <div class="row">
        {{ form.firstName.label('You are') }}
        {{ form.firstName(class="col-md-2", placeholder="First name") }}
        {{ form.name(class="col-md-2", placeholder="Name") }}
        {{ form.email.label("or") }}
        {{ form.email(class="form-control", placeholder="Email address") }}
        {{ form.password1.label("Give a password") }}
        {{ form.password1(class="form-control", placeholder="Password") }}
        {{ form.password2.label("Confirm password") }}
        {{ form.password2(class="form-control", placeholder="Confirm password") }}
        
        {{ form.age.label('you are') }}
        {{ form.age(class="col-md-2", placeholder="Age") }}
        {{ form.doorNumber.label('You live at') }}
        {{ form.doorNumber(class="col-md-2", placeholder="Door number") }}
        {{ form.city(class="col-md-2", placeholder="city") }}
        {{ form.postalCode(class="col-md-2", placeholder="Postal code") }}
        {{ form.phoneNumber.label('We can join you at') }}
        {{ form.phoneNumber(class="form-control", placeholder="Phone number") }}
        
      </div>
      
     
      
      {{ form.passportNumber.label() }}
      {{ form.passportNumber(class="form-control", placeholder="Passport number:") }}
      {{ form.passportExpDate.label() }}
      {{ form.passportExpDate(class="form-control", placeholder="Passport expiration date:") }}
      {{ form.passportCreDate.label() }}
      {{ form.passportCreDate(class="form-control", placeholder="Passport creation date:") }}
          
      <br>
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

      <!-- <div class="row">
        <p class="col-md-2">Vous vous appelez </p>
        <input type="text" placeholder="prénom" class="col-md-2">
        <input type="text" placeholder="nom" class="col-md-2">
        <p class="col-md-1">vous avez </p>
        <input type="text" placeholder="âge" class="col-md-1">
        <p class="col-md-1">ans</p>
      </div>
      <br></br>
      <div class="row">
        <p class="col-md-2">Vous habitez au </p>
        <input type="text" placeholder="numéro" class="col-md-1">
        <input type="text" placeholder="rue" class="col-md-2">
        <p class="col-md-2">dans la ville de</p>
        <input type="text" placeholder="ville" class="col-md-2">
        <input type="text" placeholder="code postale" class="col-md-1">
      </div>
      <br></br>
      <div class="row">
        <p class="col-md-3">Nous pouvons vous joindre au numéro</p>
        <input type="text" placeholder="numéro de téléphone" class="col-md-2">
        <p class="col-md-3">et votre adresse email est le</p>
        <input type="text" placeholder="email" class="col-md-3">
      </div>
      <br></br>
      <div class="row">
        <p class="col-md-3">détenez-vous un visa taiwanais ?</p>
        <div class="row">
          <input type="radio" class="col-md-1" name="visa"> 
          <p class="col-md-1">oui</p>
        </div>
        <div class="row">
          <input type="radio" class="col-md-1" name="visa"> 
          <p class="col-md-1">non</p>
        </div>
        <p>si oui veuillez renseignez votre numéro de passeport taiwanais:</p>
        <input type="text" placeholder="numéro de téléphone" class="col-md-2">
        <p>sa date de création:</p>
        <input type="text" placeholder="date de création" class="col-md-2">
        <p>sa date d'expiration:</p>
        <input type="text" placeholder="date d'expiration" class="col-md-2">
      </div>
      <br></br>
      <button click="" class="mx-3 btn btn-success">Valider</button> -->
    </form>
  </div>
  <!-- <script src = "js/bootstrap.min.js"></script> -->
</html>
{% endblock %}
    
