{% extends 'base.html' %}
{% block title %}
  Create your account
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Create your account</h1>
    <br></br>
    <form method="POST" class="form-register">
      {{ form.hidden_tag() }}
      <div class="row">
        {{ form.userName.label('take a username:') }}
        {{ form.userName(class="col-md-2", placeholder="Username") }}
        {{ form.emailAddress.label("Your email is") }}
        {{ form.emailAddress(class="form-control", placeholder="Email address") }}
        {{ form.password1.label("Give a password") }}
        {{ form.password1(class="form-control", placeholder="Password") }}
        {{ form.password2.label("Confirm password") }}
        {{ form.password2(class="form-control", placeholder="Confirm password") }}
      </div>
      <br>
      {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
  </div>
  <!-- <script src = "js/bootstrap.min.js"></script> -->
</html>
{% endblock %}
    
