{% extends 'base.html' %}
{% block title %}
    home
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='image/countryPresentation.jpg') }}" class="img-fluid w-100 px-2" alt="présentation du pays"/>    
<br></br><br></br>
<div class="container-md">
  <div class="row">
    <div class="col-md-9">
      <img src="{{ url_for('static', filename='image/map.jpg') }}" alt="Carte de Taïwan"/>
    </div>
    <div class="col-md-3">
      <h2>Une péninsule</h2>
      <p>La péninsule de Taïwan, souvent simplement appelée Taïwan, est située en Asie de l'Est, à l'est de la Chine continentale, séparée par le détroit de Taïwan. Elle est entourée par la mer de Chine orientale au nord, la mer de Chine méridionale au sud et l'océan Pacifique à l'est.</p>
      <p>Taïwan est une île montagneuse, connue pour ses paysages variés allant des montagnes escarpées aux plages de sable. Elle a une superficie de 35 980 km², l'équivalent d'un peu moins de 2 fois la superficie de la Nouvelle-Calédonie. Sa capitale, Taipei, située au nord, est un centre économique et culturel dynamique. La population est d'environ 23 millions d'habitants, et la culture taïwanaise est un mélange riche d'influences chinoises, japonaises et aborigènes.</p>
      <p>En politique, Taïwan a un statut complexe, étant revendiquée par la Chine, mais elle fonctionne comme un État indépendant avec ses propres institutions. La cuisine taïwanaise est également réputée, notamment pour ses marchés de nuit et ses spécialités comme les "bao" et les "nouilles".</p>
    </div>
  </div>
  <button class="mx-3 btn btn-primary" data-zoom="../assets/image/semiconductors.jpg">menu</button>
  <br></br>
  <div class="row">
    <div class="text-center col-md-4 order-md-2">
      <img src="{{ url_for('static', filename='image/semiconductors.jpg') }}" class="img-thumbnail" alt="IUT de Villetaneuse (photo estivale)"/>
    </div>
    <div class="col-md-8 order-md-1">
      <h2>Une formation reconnue</h2>
      <p>L'île a une économie développée, avec des secteurs forts dans la technologie, l'industrie et les services.</p>
      <p><p>
    </div>
  </div>
</div>
{% endblock %}

