{% extends 'base.html' %}
{% block title %}
  Profil
{% endblock %}

{% block content %}
    <div class="container">
      <h1>My personal profil</h1>
      <br></br>
      <form method="POST" class="form-register">
        <div class="row">
          <p>Your user is {{ user.userName }}, </p>
          <p>You email address is {{ user.emailAddress }}</p>
        </div>
        <br>
        <a class="nav-link" href="{{ url_for('modifyProfil_page') }}">
          <span class="d-none d-xl-inline">&nbsp;Modify</span>
        </a>
      </form>
    </div>
    </body>
  </html>
{% endblock %}

