{% extends 'base.html' %}
{% block title %}
  Profil
{% endblock %}

{% block content %}
  <!-- <a class="nav-link" href="{{ url_for('demandeVisa_page')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
  </svg><span class="d-none d-xl-inline">&nbsp;Ask a visa</span>
  </a> -->
    <div class="container">
      <h1>My personal profil</h1>
      <br></br>
      <form method="POST" class="form-register">
        {{ form.hidden_tag() }}
        <div class="row">
          {{ form.firstName.label("You are") }}
          {{ form.firstName(class="col-md-2", placeholder="First name") }}
          {{ form.name(class="col-md-2", placeholder="Name") }}
          {{ form.age.label("You are") }}
          {{ form.age(class="col-md-2", placeholder="Age") }}
          {{ form.doorNumber.label("You live at") }}
          {{ form.doorNumber(class="col-md-2", placeholder="Door number") }}
          {{ form.road(class="col-md-2", placeholder="Road") }}
          {{ form.city.label("in the city of") }}
          {{ form.city(class="col-md-2", placeholder="City") }}
          {{ form.postalCode(class="col-md-2", placeholder="Postal code") }}
          {{ form.phoneNumber.label("We can join you at") }}
          {{ form.phoneNumber(class="form-control", placeholder="Phone number") }}
          {{ form.emailAddress.label("or") }}
          {{ form.emailAddress(class="form-control", placeholder=form.emailAddress.data) }}
        </div>
        <br>
        {{ form.modify(class="btn btn-lg btn-block btn-primary") }}
      </form>
    </div>
    <!-- <script src = "js/bootstrap.min.js"></script> -->
    </body>
  </html>
{% endblock %}

