{% extends 'base.html' %}
{% block title %}
    Visa application
{% endblock %}
  
{% block content %}
    <div class="container">
      <h1>Visa application</h1>
      <br></br>
      <form method="POST" action="/" enctype="multipart/form-data" class="form-register">
        {{ form.hidden_tag() }}
        {{ form.passportNumber.label("Please give your passport number :") }}
        {{ form.passportNumber(class="form-control", placeholder="Passport number") }}
        {{ form.emailAddress.label("At which email address do you want to receive your proof ?") }}
        {{ form.emailAddress(class="form-control", placeholder="Email address") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
      </form>
    </div>
<!-- <script  src = "../js/bootstrap.min.js"></script> -->
  </html>
{% endblock %}


